/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */

.content h1 {
	text-align: center;
}
.content .content-footer p {
	color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
	color: inherit;
	font-weight: bold;
}


.container{
	margin-left:inherit;
	margin-right:inherit;
	height:100%;
	width:100%;
	overflow: auto;
	
}
.thead-dark{
	color:#ffffff;
	background: #373737;
	
}

.thead-light{
	color:#ffffff;
	background: #203A45;
	
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

